
<br />
<br />
<h1>Digite o CEP</h1>
<br />
<br />

@using (Html.BeginForm("Consulta", "Cep"))
{
    <form action="">
        CEP:<br>
        <input type="text" name="cep" />
        <input type="submit" name="Pesquisar" />
        <br>
    </form>
}
